body {
  background-image: url("/img/background5.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  /* height: 100vh; */
  font-family: Arial, sans-serif;
}
.weather-app {
  max-width: 800px;
  background: rgba(0, 0, 0, 0.85);
  margin: 100px auto;
  padding: 20px;
  border-radius: 10px;
  color: white;
}
.overview {
  margin-top: 20px;
  margin-bottom: 0px;
  margin-left: 20px;
}
.d-flex {
  align-items: center;
}

#current-temperature {
  font-size: 80px;
  position: relative;
  left: -15px;
}
.temperature .units {
  position: relative;
  font-size: 16px;
  top: -45px;
  left: -15px;
  opacity: 0.8;
}
.temperature .active {
  color: rgb(255, 255, 255);
}
.description {
  text-align: center;
}
.info {
  color: rgb(165, 163, 163);
  font-style: italic;
  text-align: center;
  text-decoration: none;
  transition: all 150ms ease-in-out;
}
.info:hover {
  color: white;
}

.left-info {
  font-style: italic;
}
.search {
  display: flex;
  align-items: center;
  justify-content: center;
}
#main-temperature-icon {
  width: 150px;
}
#search-input {
  width: 300px;
  border: none;
  padding: 6px 15px;
  border-radius: 25px;
  background: rgba(100, 100, 100, 0.6);
  color: white;
}
#button-submit {
  margin: 10px;
  border: none;
  border-radius: 50%;
  padding: 6px 11px;
  background: rgba(100, 100, 100, 0.6);
  color: rgb(159, 159, 159);
  font-size: larger;
}
#button-submit:hover {
  background: rgba(100, 100, 100, 0.4);
}
#fahrenheit-link,
#celsius-link {
  text-decoration: none;
  cursor: default;
}
#source-link {
  color: rgb(126, 124, 124);
  text-decoration: none;
}
#source-link:hover {
  color: rgb(165, 163, 163);
}
h1 {
  font-size: 32px;
}
ul {
  margin: 0;
  padding: 0;
}

li {
  list-style: none;
  opacity: 0.8;
  font-size: 16px;
}

li::first-letter {
  text-transform: capitalize;
}
@media (max-width: 1350px) {
  body {
    height: 100vh;
  }
}
@media (max-width: 415px) {
  #current-temperature {
    font-size: 40px;
    position: relative;
    left: -15px;
    top: 2px;
  }
  #main-temperature-icon {
    width: 80px;
  }
  .col-9 {
    width: 60%;
  }
  .col-3 {
    width: 40%;
  }

  .temperature .units {
    position: relative;
    font-size: 10px;
    top: -24px;
    left: -15px;
    opacity: 0.8;
  }
  .description {
    font-size: 12px;
  }
}
