body {
  background-image: url("/img/background5.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  /* height: 100vh; */
  font-family: Arial, sans-serif;
}
.weather-app {
  max-width: 800px;
  background: rgba(0, 0, 0, 0.85);
  margin: 100px auto;
  padding: 20px;
  border-radius: 10px;
  color: white;
}
.overview {
  margin-top: 50px;
  margin-bottom: 0px;
  margin-left: 20px;
}
.d-flex {
  align-items: center;
}
.main-temperature-icon {
  width: 150px;
}

.temperature strong {
  font-size: 80px;
  position: relative;
  left: -15px;
}
.temperature .units {
  position: relative;
  font-size: 16px;
  top: -45px;
  left: -15px;
  opacity: 0.8;
}
.description {
  text-align: center;
  color: rgb(126, 124, 124);
}
.info {
  text-align: center;
}

h1 {
  font-size: 32px;
}
ul {
  margin: 0;
  padding: 0;
}

li {
  list-style: none;
  opacity: 0.8;
  font-size: 16px;
}
